[Unit]
Description=Set PMM Admin Password
After=pmm-server.service
Requires=pmm-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/local/bin/get-pmm-password.sh
ExecStart=/usr/local/bin/set-pmm-password.sh

[Install]
WantedBy=multi-user.target